@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item-object-category > a {
    display: none;
}

.menu-item-object-page > a {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Poppins", serif;
}

.button {
    background-color: #D2C4AF;
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.button:hover {
    background-color: #7F6856;
    color: #ffffff;
}